# Temp files
*~
*.backup
.DS_Store
temp/
tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/

var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
coverage/
.tox/
.coverage
.coverage.*
.coveralls.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Project artifacts
.idea
.vagrant
.test
.pytest_cache
TODO
.mypy_cache
research-*/
dataset-*/
datasets/
experiments*/
/*.png
/*.exe
/*.elf
*.EXE
/*.xlsx
/*.csv
/*.bak
/*.asm

# config files
#src/conf/*.yml

# tests
tests/.bats/bats*

# cache files
.userdb_txt.json
